.box{
  width: 40%;
  padding-bottom: 20%;
  float:left;
  margin: 1.66%;
  border: 5px solid gray;
}

#container{
  max-width: 600px;
  margin: 0 auto;
}

#container2{
  max-width: 200px;
  margin: 0 auto;
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

////////////

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}
